<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <h1>Reset Password</h1>

      <%= form_for @user,url: { method: "post", action: "update" } do |f| %>
      <%= flash[:danger] %><br/>
      <%= flash[:success] %><br/>
      <%= flash[:error] %><br/>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %><br/>
      <%= f.label :password_confirm %>
      <%= f.password_field :password_confirm, class: 'form-control' %><br/>

      <%= f.submit "Save", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>

</body>
</html>
