<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <h1>Log in</h1>

      <%= form_for(:session, url: login_path) do |f| %>
      <%= flash[:danger] %><br/>
      <%= flash[:success] %><br/>
      <%= flash[:error] %><br/>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %><br/>

      <%= f.submit "Log in", class: "btn btn-primary" %>
      <%= link_to "Forgot password",  new_reset_password_path %>
      <% end %>
    </div>
  </div>

</body>
</html>


